.caixa {
   color: white;
   display: inline-block;
   line-height: 50px;
   text-align: center;
   vertical-align: top;
}

.largura-altura {
   height: 50px;
   width: 50px;
}

.largura-altura-padding {
   height: 50px;
   width: 50px;
   padding: 20px;
}

.largura-altura-padding-margin {
   height: 50px;
   width: 50px;
   padding: 20px;
   margin: 30px;
}

.largura-altura-padding-margin-border {
   height: 50px;
   width: 50px;
   padding: 20px;
   margin: 30px;
   border: 5px;
   border-color: black;
   border-style: solid;
}